.places {
    box-sizing: border-box;
    /*border: blueviolet solid;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1{
    /*border: 2px green solid;*/
    text-align: left;
    padding-left: 15px;
    flex-basis: 100%;
    box-sizing: border-box;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px  #FF5A5F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*box-sizing: border-box;*/
}

article>h2, .places h1 {
    font-size: 30px;
    box-sizing: border-box;
    
}

article>h2 {
    /*border: solid blueviolet 2px;*/
    margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
    margin-left: auto;
    flex-basis: 55%;
    text-align: center;
}



.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    border-radius: 100%;
    min-width: 60px;
    max-height: 60px;
    font-size: 30px;
    display: flex;
    padding: 20px 8px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
    flex-basis: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    box-sizing: border-box;
    /*border: solid greenyellow 1px;*/
    background-position: top;
    background-position: 30px;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.max_guest::before {
    background-image: url(../images/icon_group.png);
}

.number_rooms::before {
    background-image: url(../images/icon_bed.png);
}

.number_bathrooms::before {
    background-image: url(../images/icon_bath.png);
}

.max_guest::before, .number_rooms::before, .number_bathrooms::before {
    content: '';   
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    /*border: saddlebrown solid 1px;*/
    box-sizing: border-box;
    background-position: top;
    box-sizing: border-box;
}

.user {
    display: flex;
    justify-content: left;
    /*border: purple solid 2px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
}

.places .amenities, .reviews {
    /*border: solid indianred;*/
    margin-top: 40px;
    flex-basis: 100%;
    box-sizing: border-box;
}

.places .amenities>h2 {
    font-size: 16px;
    border-bottom: solid #DDDDDD 1px;
}

.places .amenities>ul, .reviews>ul {
    list-style-type: none;
    /*border: solid yellow 2px;*/
    padding: 0;
    margin-bottom: 0;
}

.places .amenities>ul>li,  .reviews>ul>li>h3{
    /*border: solid 2px green;*/
    padding-left: 0;
}

.places .amenities>ul>li {
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 35px;
    margin-bottom: 6px;
}


.places .amenities>ul>:first-child {
    background-image: url(../images/icon_tv.png);
}

.places .amenities>ul>:nth-child(2) {
    background-image: url(../images/icon_wifi.png);
}

.places .amenities>ul>:nth-child(3) {
    background-image: url(../images/icon_pets.png);
}

.places .amenities>ul>:last-child {
    margin-bottom: 0;
}

.reviews>h2 {
    font-size: 16px;
    border-bottom: solid  #DDDDDD 1px;
}

.reviews h3 {
    font-size: 14px;
}

.reviews p {
    font-size: 12px;
}
