body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*display: flex;
    flex-direction: column;
    /*border: blue solid 1px;*/
    overflow-x: hidden;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    /*border: palevioletred solid 1px;
    min-height: calc(100vh - 192px);*/
}
